.process_content {
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  background: linear-gradient(73.89deg, rgba(4, 9, 30, 0.7) 3.59%, rgba(20, 216, 192, 0.7) 90.77%);
}

.process_content .wrapper {
  margin: 0 auto;
  max-width: calc(100% - 2.875rem);
  width: 100%;
}

@media (min-width: 1024px) {
  .process_content .wrapper {
    max-width: calc(100% - 7.5rem);
  }
}

@media (min-width: 480px) {
  .process_content .wrapper {
    max-width: calc(100% - 3.75rem);
  }
}

.process_content .wrapper .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.875rem;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 100px;
}

.process_content .wrapper .container .processContent .process_title {
  font-weight: 600;
  font-size: 40px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}

.process_content .wrapper .container .processContent .process__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  margin-top: 40px;
}

@media (max-width: 1023.98px) {
  .process_content .wrapper .container .processContent .process__container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 680px) {
  .process_content .wrapper .container .processContent .process__container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.process_content .wrapper .container .processContent .process__container .process__item {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(7.27%, rgba(255, 255, 255, 0.13)), color-stop(97.33%, rgba(255, 255, 255, 0.21)));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.13) 7.27%, rgba(255, 255, 255, 0.21) 97.33%);
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  padding: 20px;
  border: none;
}

.process_content .wrapper .container .processContent .process__container .process__item .process_item_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.process_content .wrapper .container .processContent .process__container .process__item .process_item_image .process_image_bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 60%;
  padding: 20px;
}

.process_content .wrapper .container .processContent .process__container .process__item .process_item_image .process_image_bg .img {
  width: 20px;
  height: 20px;
}

.process_content .wrapper .container .processContent .process__container .process__item .process__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 30px;
}

.process_content .wrapper .container .processContent .process__container .process__item .process__desc {
  margin-top: 15px;
  font-weight: 300;
  font-size: 13px;
  line-height: 175%;
  color: #FFFFFF;
  max-width: px;
  margin-bottom: 30px;
}
/*# sourceMappingURL=process.module.css.map */