

$primay-gradient: linear-gradient(95.49deg, #FCAD02 -36.87%, #FF0041 98.63%);
$primary:  #FCAD02;
$secondary: #FF0041;

.btn {
     padding: 10px 30px;
     border-radius: 20px;
     outline: none;
     border: none;
     font-size: 18px;
     color: #fff;
     cursor: pointer;
     background: $primay-gradient;

     &:hover  {
          padding: 10px 30px;
          transition: all 0.3s ease-in-out;
          background-color: transparent;
          color: #fff;
          border-radius: 20px;
          border: 2px solid $primary;
     }
}
